
@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>

<div class="card" style="width:567px;">
    <div class="card-body">
        <form asp-action="Cadastro" method="post">
            <div class="form-row"> 
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Nome</label>
                    <input type="text" class="form-control" style="width: 424px;" required maxlength="50" name="nome"/>
                </div>
            </div>

            <div class="form-row d-sm-flex align-items-sm-center" style="margin-top: 10px;">
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Telefone</label>
                    <input type="text" class="form-control" style="width: 424px;" required maxlength="14" name="telefone"/>
                </div>
            </div>

            <div class="form-row" style="margin-top: 10px;">
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Logradouro</label>
                    <input type="text" class="form-control" style="width: 424px;" maxlength="50" name="logradouro"/>
                </div>
            </div>

            <div class="form-row" style="margin-top: 10px;">
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Número</label>
                    <input type="text" class="form-control" style="width: 424px;" maxlength="10" name="numero"/>
                </div>
            </div>

            <div class="form-row" style="margin-top: 10px;">
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Bairro</label>
                    <input type="text" class="form-control" style="width: 424px;" maxlength="50" name="bairro"/>
                </div>
            </div>

            <div class="form-row" style="margin-top: 10px;">
                <div class="col d-sm-flex align-items-sm-center">
                    <label style="width: 84px;margin-right: 20px;">Cidade</label>
                    <input type="text" class="form-control" style="width: 424px;" maxlength="50" name="cidade"/>
                </div>
            </div>

            <div class="form-row" style="margin-top: 10px;">
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary float-right">Voltar</a>
                    <button class="btn btn-primary float-right" type="submit" style="margin-right: 10px;">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

